################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/regressionLiniaire/obj/Debug
/Package.nuspec
*.exe
/regressionLiniaire/Properties
